@use '../variables' as variables;

@media screen and (min-width: 768px) {
    .blog-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px 20px;
    }

    .blog {
        .swiper-counter {
            display: none;
        }
    }

    .gallery-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;
    }

    .gallery {
        .swiper-counter {
            display: none;
        }
    }
}