@use "sass/variables";
@use "sass/fonts";
@use "sass/header";
@use "sass/first-screen";
@use "sass/about";
@use "sass/offers";
@use "sass/testimonials";
@use "sass/blog";
@use "sass/gallery";
@use "sass/subscription";
@use "sass/footer";
@use "sass/media/media";
