@use 'variables' as variables;

.footer {
    background-color: variables.$primary-color;
    color: variables.$brand-light-color;

    &__container {
        display: flex;
        padding-top: calc(var(--separate) * -1 * 2);
        padding-bottom: calc(var(--separate) * -1);
        gap: 24px;
    }

    &__address {
        color: variables.$bg-accent-color;
    }

    &-navigation {
        display: flex;
        gap: 24px;
        justify-content: space-between;
    }

    &__address-title {
        color: variables.$bg-accent-color;
    }

    &__address-description {
        font-size: 14px;
        line-height: 1.429;
        margin-bottom: calc(var(--separate) * -1);
    }

    &-address__row {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 32px;
        gap: 12px 24px;
    }

    &-address__link {
        font-size: 14px;
        line-height: 1.3;
        color: variables.$bg-accent-color;
        text-decoration: underline;

        &:hover {
            color: variables.$text-accent-color;
        }
    }

    &__social {
        display: flex;
        gap: 16px;
    }

    &__social-link {
        color: variables.$bg-accent-color;

        &:hover {
            color: variables.$text-accent-color;
        }
    }

    &__social-svg {
        --size: 32px;
        width: var(--size);
        height: var(--size);
    }



    &-nav__list {
        padding-left: 20px;
    }

    &-nav-item {
        width: 100%;
        max-width: 280px;
    }

    &-nav__title {
        color: variables.$bg-color;
    }

    &-nav__item {
        margin-bottom: 16px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &-nav__link {
        color: variables.$brand-light-color;
        font-size: 14px;
        line-height: 1.28;
        position: relative;
        display: flex;
        font-weight: 400;

        &:hover {
            color: variables.$text-accent-color;
        }
    }

    &-nav__svg {
        width: 10px;
        height: 14px;
        position: absolute;
        left: -17px;
        top: -1px;
    }

    &__coppyright {
        background: variables.$barnd-dark-color;
        padding: 24px 0;
    }

    &__coppyright-container {
        display: flex;
        justify-content: space-between;
        gap: 8px 24px;
        flex-wrap: wrap;
    }

    &__coppyright-link {
        color: variables.$brand-light-color;
        text-decoration: underline;
        font-size: 14px;

        &_develop {
            text-decoration: none;
        }

        &:hover {
            color: variables.$text-accent-color;
        }
    }
}