@use 'variables' as variables;

.footer {
    background-color: variables.$primary-color;
    color: variables.$brand-light-color;
    
    &__container {
        display: flex;
        padding-top: calc(var(--separate) * -1 * 2);
        padding-bottom: calc(var(--separate) * -1);
    }

    &__address {
        flex: 0 1 430px;
        color: variables.$bg-accent-color;
    }

    &-navigation {
        flex: 0 1 680px;
    }

    &__address-title {
        color: variables.$bg-accent-color;
        margin-bottom: 17px;
    }

    &__address-description {
        font-size: 14px;
        line-height: 1.4;
        margin-bottom: calc(var(--separate) * -1);
    }

    &-address__row {
        display: flex;
        gap: 24px;
        margin-bottom: 32px;
    }

    &-address__link {
        font-size: 14px;
        line-height: 1.3;
        color: variables.$bg-accent-color;
        text-decoration: underline;

        &:hover {
            color: variables.$text-accent-color;
        }
    }

    &__social {
        display: flex;
        gap: 16px;
    }

    &__social-link {
        color: variables.$bg-accent-color;

        &:hover {
            color: variables.$text-accent-color;
        }
    }

    &__social-svg {
        --size: 32px;
        width: var(--size);
        height: var(--size);
    }
}