@use 'variables' as variables;

.gallery-grid__item {
    position: relative;

    &:before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 6px;
        background: url(./assets/img/icon-zoom.png) center no-repeat #00000022;
        opacity: 0;
        cursor: pointer;
    }

    &:hover {
        &::before {
            opacity: 1;
        }
    }
}

.gallery-grid__item_1 {
    grid-area: 1 / 1 / 2 / 3;
}

.gallery-grid__item_2 {
    grid-area: 1 / 3 / 2 / 4;
}

.gallery-grid__item_3 {
    grid-area: 1 / 4 / 2 / 5;
}

.gallery-grid__item_4 {
    grid-area: 2 / 1 / 3 / 2;
}

.gallery-grid__item_5 {
    grid-area: 2 / 2 / 3 / 4;
}

.gallery-grid__item_6 {
    grid-area: 2 / 4 / 3 / 5;
}

.gallery__img {
    border-radius: 6px;
    height: 100%;
    width: 100%;
    max-height: 250px;
    object-fit: cover;
}


.gallery {
    @include variables.section-padding;
    background-color:  variables.$bg-accent-color;
    &-overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.8);
        display: none;
        align-items: center;
        justify-content: center;
        z-index: 9999;

        &.open {
            display: flex;
        }
    }


    &-inner {
        position: relative;
        max-width: 95vw;
        max-height: 90vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-img {
        max-width: 100%;
        max-height: 100%;
        border-radius: 6px;
    }


    &-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 48px;
        height: 48px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.45);
        backdrop-filter: blur(4px);
        border: 1px solid rgba(255, 255, 255, 0.06);
        cursor: pointer;
        color: #fff;
        font-size: 20px;

        &:hover {
            background: rgba(0, 0, 0, 0.65);
        }
    }


    &-prev {
        left: 12px;
        z-index: 10;
    }

    &-next {
        right: 12px;
    }

    &-close {
        position: absolute;
        right: 24px;
        top: 24px;
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background: rgba(0, 0, 0, 0.45);
        cursor: pointer;
        color: #fff;

        svg {
            width: 48px;
            height: 48px;
        }

        &:hover {
            background: rgba(0, 0, 0, 0.65);
        }
    }


    &-counter {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        bottom: 36px;
        padding: 12px 22px;
        background: rgba(0, 0, 0, 0.45);
        color: #fff;
        font-size: 24px;
        font-weight: 600;
    }
}