@use 'variables' as variables;

.modal {
    position: fixed;
    inset: 0;
    opacity: 0;
    transition: opacity 0.5s, background-color 0.5s, backdrop-filter 0.5s;
    z-index: -10;
    background-color: #12121200;
    backdrop-filter: blur(0px);

    display: flex;
    align-items: center;
    justify-content: center;

    &.show {
        background-color: #12121273;
        backdrop-filter: blur(10px);
        opacity: 1;
        z-index: 20;
    }

    .nice-select,
    input {
        max-width: 100%;
    }

    &-body {
        max-width: 450px;
    }

}

#close-modal {
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 10;
    border: none;
    background: transparent;
    transition: transform 0.3s;

    &:hover {
        transform: rotate(180deg);
    }
}


.bg-pink{
    background-color: pink!important;
}