@@include('footer-layout.html')
@@include('modal.html')
@@include('svg-sprite.html')
<a href="ui-kit.html" style="position: fixed; bottom: 12px; left: 18px; background-color: #ff0000; color: #ffffff; padding: 6px 18px; border-radius: 50%; text-decoration: none; font-weight: 600;">ui-kit</a>
<script src="https://cdn.jsdelivr.net/npm/air-datepicker@3.6.0/air-datepicker.min.js"></script>
<script src="assets/js/nice-select2.js"></script>
<script src="https://unpkg.com/imask"></script>
<script src="assets/js/swiper-bundle.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>

<script src="assets/js/custom.js"></script>
<script src="assets/js/modal.js"></script>
<script src="assets/js/request.js"></script>
<script src="assets/js/action.js"></script>
</body>
</html>