<div class="modal" id="show-program">
    <div class="modal-body">
        <button type="button" class="close-modal" data-close-modal>
            <svg class="close-modal__svg">
                <use href="#icon-close-modal"></use>
            </svg>
        </button>
        <form class="first-screen-form modal__first-screen-form">
            <div class="input-box">
                <select name="locations" id="modal-locations-select" class="hidden-select">
                    <option value="kyiv">Київ</option>
                    <option value="lviv">Львів</option>
                    <option value="odesa">Одеса</option>
                    <option value="kharkiv">Харків</option>
                    <option value="dnipro">Дніпро</option>
                    <option value="kamianets">Кам’янець-Подільський</option>
                    <option value="chernivtsi">Чернівці</option>
                    <option value="carpathians">Карпати</option>
                    <option value="uzhhorod">Ужгород</option>
                    <option value="kherson">Херсонщина</option>
                </select>
                <label for="modal-locations-select">выберите из списка</label>
            </div>
            <div class="input-box">
                <input id="date" class="date-input" type="text" placeholder="Дата похода">
                <label for="date" class="label-icon">
                    <svg>
                        <use href="#icon-date"></use>
                    </svg>
                </label>
                <label for="date">укажите дату похода</label>
            </div>
            <div class="input-box">
                <select name="members" id="modal-members-select" class="hidden-select">
                    <option value="4">4 человека</option>
                    <option value="5">5 человек</option>
                    <option value="6">6 человек</option>
                    <option value="7">7 человек</option>
                    <option value="8">8 человек</option>
                    <option value="9">9 человек</option>
                    <option value="10">10 человек</option>
                    <option value="more">больше 10 человек</option>
                </select>
                <label for="modal-members-select">минимум 4 человека</label>
            </div>
            <div class="input-box">
                <button type="submit" class="btn btn_secondary btn_lg">Найти программу</button>
            </div>
            <div class="input-box">
                <button type="button" data-close-modal class="btn btn_secondary btn_lg">Закрити модальне вікно</button>
            </div>
        </form>
    </div>
</div>
<div class="modal modal-template" id="request">
    <div class="modal-body">

        <button type="button" class="close-modal" data-close-modal>
            <svg class="close-modal__svg">
                <use href="#icon-close-modal"></use>
            </svg>
        </button>
        <div class="template-form-wrapper">
            <h2 class="modal-template__title">Оставить заявку</h2>
            <h5 class="modal-template__subtitle">Заполните форму ниже и наш менеджер свяжиться с Вами в ближайшее время!</h5>

            <form class="template-form">
                <div class="input-box">
                    <label for="user-name">Имя</label>
                    <input type="text" inputmode="text" name="user-name" id="request-user-name" placeholder="Введите своё имя" >
                </div>
                <div class="input-box">
                    <label for="e-mail">Почта</label>
                    <input type="email" inputmode="email" name="e-mail" id="request-e-mail"  placeholder="Введите свой почтовый адрес">
                </div>
                <div class="input-box">
                    <label for="telephone">Телефон</label>
                    <input type="tel" inputmode="tel" name="tel" id="request-telephone" placeholder="+380">
                </div>
                <div class="input-box">
                    <textarea name="letter" id="request-letter" placeholder="Сопроводительное письмо">
Локация: Киев
Дата похода: 12.09.2025
Участники: 6 человек
                    </textarea>
                </div>
                <div class="input-box">
                    <button type="submit" class="btn btn_secondary btn_lg">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal modal-template" id="consultation">
    <div class="modal-body">

        <button type="button" class="close-modal" data-close-modal>
            <svg class="close-modal__svg">
                <use href="#icon-close-modal"></use>
            </svg>
        </button>
        <div class="template-form-wrapper">
            <h2 class="modal-template__title">Нужна консультация?</h2>
            <h5 class="modal-template__subtitle">Наш менеджер свяжиться с Вами в ближайшее время!</h5>

            <form class="template-form">
                <div class="input-box">
                    <label for="user-name">Имя</label>
                    <input type="text" inputmode="text" name="user-name" id="user-name" placeholder="Введите своё имя">
                </div>
                <div class="input-box">
                    <label for="e-mail">Почта</label>
                    <input type="email" inputmode="email" name="e-mail" id="e-mail"  placeholder="Введите свой почтовый адрес">
                </div>
                <div class="input-box">
                    <label for="telephone">Телефон</label>
                    <input type="tel" inputmode="tel" name="tel" id="telephone" placeholder="+380">
                </div>
                <div class="input-box">
                    <textarea name="letter" id="letter" placeholder="Сопроводительное письмо"></textarea>
                </div>
                <div class="input-box">
                    <button type="submit" class="btn btn_secondary btn_lg">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</div>