<section class="subscription">
    <div class="subscription__title-box">
        <h3 class="template-top-title">актуально</h3>
        <h2 class="template-title template-title_sm">Получайте полезные рассылки о путешествиях</h2>
    </div>
    <div class="subscription__form-box">
        <form class="subscription-form">
            <div class="input-box">
                <label for="user-email" class="subscription-form__label">Введите e-mail адрес</label>
                <input id="user-email" type="email" class="subscription-form__input" placeholder="name@domain.com">
            </div>

            <button class="btn btn_primary">Подписаться на новости</button>
        </form>
        <p class="subscription-info">подписываясь на новости, вы автоматически соглашаетесь с <a href="#"> условиями обработки персональных данных</a> и <a href="#">правилами рекламных рассылок</a></p>
    </div>
</section>